body {
  line-height: 1.6em;
}

.twitter-tweet-rendered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* /post */
.cover-img {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.colorscheme-dark {
  .cover-img {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
}

.post-list {
  display: flex;
  flex-direction: column;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 20px 0;

  .title {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }

  .date {
    text-align: left !important;
  }

  .summary {
    text-decoration: none;
    color: inherit;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }
  }
}
